/////////////////////
//    Variables    //  
/////////////////////

// Colors
$primary-blue: #0c9fd4;
$secondary-blue: #0cb0d4;
$primary-gray: #bcbcbc;
$secondary-gray: #3c3c3c;
$dark: #222;
$light-color: #fff;